.jsep-container {
    position: relative;
}

.jsep-container input {
    padding-left: 23px;
}

.jsep-container input.in-valid-char {
    border-color: orange !important;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px orange !important;
}

.jsep-container .jsep-notification {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 5px;
    cursor: help;
}

.jsep-container .jsep-notification span {
    display: none;
    color: #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
}

.jsep-container .jsep-notification .ok {
    color: #008040;
    font-weight: 900;
    top: 0;
    left: -5px;
    padding-right: 10px;
}

.jsep-container .jsep-notification .error {
    font-weight: 900;
    top: 0;
    left: -5px;
    padding-right: 10px;
    color: #ff0000;
}

.jsep-container.invalid input {
    border-color: #ff0000;
}

.jsep-container.invalid .jsep-notification .ok {
    display: none;
}

.jsep-container.invalid .jsep-notification .error {
    display: block;
}

.jsep-container.valid .jsep-notification .ok {
    display: block;
}

.jsep-container.valid .jsep-notification .error {
    display: none;
}

.jsep-container .jsep-suggestions {
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.3);
    min-height: 50px;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    display: none;
    z-index: 1069;
}

.jsep-container .jsep-suggestions.up {
    bottom: 36px;
}

.jsep-container .jsep-suggestions .jsep-suggestion-item {
    cursor: pointer;
    width: 100%;
    padding: 3px 5px;
    min-width: 400px;
}

.jsep-container .jsep-suggestions .jsep-suggestion-item.selected {
    font-weight: bold;
}

.jsep-container .jsep-suggestions .jsep-suggestion-item:hover {
    background-color: #337ab7;
    color: white;
}

.ui-autocomplete {
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.3);
    min-height: 50px;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    display: none;
    z-index: 99999999;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}